<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Publishers Add</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>Publishers</h2>
    <div class="container">
        <div class="row">
            <h4 class="text-center">Add</h4>
            <div class="col-lg-6 col-md-6 col-sm-6 container card">
                <div class="card-body">
                    <form th:action="@{/publishers}" th:object="${publisher}" method="POST">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" th:field="*{name}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Headquarters</label>
                            <input type="text" name="headquarters" th:field="*{headquarters}" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" name="website" th:field="*{website}" class="form-control" />
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>